<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furni.mapper.CateMapper">

	<select id="select" parameterType="Integer" resultType="cateDTO">
		SELECT *
		FROM cate WHERE cateno=#{cateno}
	</select>
	<select id="selectall" resultType="cateDTO">
		SELECT * FROM cate
	</select>

	<insert id="insert" parameterType="cateDTO">

	</insert>

	<update id="update" parameterType="cateDTO">

	</update>

	<delete id="delete" parameterType="Integer">

	</delete>

</mapper>