@charset "UTF-8";
 
@import url("reset.css");

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap')
	;

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: url("../img/background.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-card {
	width: 100%;
	background: rgba(255, 255, 255, .7);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
	margin-top: 100px;
}

.login-card  tr, span{
	color:black;	
}

.login-card span{
	color:white;	
}

.login-card  td{
	color: black;	
}

.login-card label{
	color:blue;
}

.login-card h2{
	color:yellow;	
}



.login-card:before {
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .15);
	inset: 0;
	transform: rotate(-5deg);
	z-index: -1;
}

.login-card a {
	text-decoration: none;
	/* color: #35339a; */
	color: red;
}

.login-card-header {
	margin-bottom: 2rem;
}

.login-card-header h2 {
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: .5rem;
}

.login-card-header h2+div {
	font-size: calc(1rem * .8);
	opacity: .4;
}

.login-card-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.login-card-form, form-group {
	position: relative;
}

.login-card-form .form-group .form-item-icon {
	position: absolute;
	top: 82rem;
	left: 1.4rem;
	font-size: 1.3rem;
	opacity: .4;
}

.login-card-form .form-item-other {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(1rem * .8);
}

.login-card input[type="text"], .login-card input[type="password"] {
	border: none;
	outline: none;
	background: rgba(255, 255, 255, .3);
	padding: 1rem 1.5rem;
	padding-left: calc(1rem * 3.5);
	border-radius: 100px;
	width: 100%;
	transition: background .5s;
}

.login-card input:focus {
	background: white;
}

.login-card-form button {
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

/* Responsive */
@media ( max-width : 768px) {
	body {
		padding: 2rem 0;
	}
	.login-card {
		width: 400px;
		padding: 2rem;
	}
}