<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
<meta charset="utf-8">
<style>
#update_form {
	width: 80%;
}

#insertbt {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
<script>
	$(document).ready(function() {

		$('#withdraw_btn').click(function() {

			var c = confirm('탈퇴 하시겠습니까 ?');
			if (c == true) {
				//이때만 attribute setting을 하고
				$('#update_form').attr({
					//form사이에 있는 것이 post의 형태로 updateimpl부분의 서버로 보내짐
					'method' : 'post',
					'action' : '[[@{/custwithdrawimpl}]]'
				});
				//보낸다.
				$('#update_form').submit();
			} else {
				return;
			}
		});
	});
</script>
<div class="container text-center">
	<div class="login-card">
		<h3>Cust Detail Page</h3>
		<form id="update_form">
			ID:<input type="text" name="custid" th:value="${custwithdraw.custid}"
				readonly="readonly"><br> PWD:<input type="text"
				name="custpwd" th:value="${custwithdraw.custpwd}"><br>
			NAME:<input type="text" name="custname"
				th:value="${custwithdraw.custname}"><br> ADDR:<input
				type="text" name="custaddr" th:value="${custwithdraw.custaddr}"><br>
			TEL:<input type="text" name="custtel"
				th:value="${custwithdraw.custtel}"><br> EAMIL:<input
				type="text" name="custemail" th:value="${custwithdraw.custemail}"><br>
			BIRTH:<input type="text" name="custbirth"
				th:value="${custwithdraw.custbirth}"><br> <input
				type="hidden" name="withdraw" th:value=0 readonly="readonly"><br>
		</form>
		<div id="insertbt">
			<button id="withdraw_btn" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-ok"></span> 탈퇴하기
			</button>
		</div>
	</div>