<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />

<style>
#logo {
	width: 50%;
	margin-bottom: 100px;
	margin-top: 100px;
}
</style>

<script>
	$(document).ready(function() {
		$('#login_form > button').click(function() {
			//JASON방식으로 attr을 불러옴
			$('#login_form').attr({
				//서버프로그램에 전송할 부분
				'action' : '[[@{/loginimpl}]]',
				'method' : 'post'
			});
			$('#login_form').submit();
		});
	});
</script>

<body>
	<div class="container">
		<div class="login-card">
			<div class="login-card-logo">
				<img id="logo" th:src="@{/img/l_logo.jpg}" alt="logo">
			</div>

			<div class="login-card-header">
				<h1>Login</h1>
			</div>
			<form id="login_form" class="login-card-form">
				<div class="form-item">
					<span class="form-item-icon material-symbols-rounded">Login</span>
					<input type="text" class="form-control" id="id"
						placeholder="Enter ID" name="custid" required autofocus>
				</div>

				<div class="form-item">
					<span class="form-item-icon material-symbols-rounded">lock</span> <input
						type="password" class="form-control" id="pwd"
						placeholder="Enter Password" name="custpwd" required>
				</div>
				<div class="form-item-other">
					<div class="checkbox">
						<input type="checkbox" id="rememberMeCheckbox"> <label
							for="rememberMeCheckbox">Remember me</label>
					</div>
					<a href="#">I forgot my password</a>
				</div>
				<button type="submit">Login</button>
			</form>
			<div class="login-card-footer">
				Don't have an ID? <a th:href="@{/register}">Create your ID!</a>
			</div>

		</div>
</body>
</html>